$button-green: #42ba47;
$red-color: #fa4247;
$grey-color: #bbb593;
$success-color: #28a745;
$primary-color: rgb(103, 92, 61);
$secondary-color: #326e36;
$font-family: sans-serif;

@mixin button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
}

@mixin input-style {
  margin-right: 20px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  width: 100px;
  font-family: sans-serif;
}

// Styles for header and navigation
header {
  background-color: $primary-color;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

body.main_page{
  background: #ffffff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-family: $font-family;
}

nav ul li a:hover {
  background-color: $success-color;
  color: white;
}

main.main_page {
  flex: 1;
  padding-top: 50px;
  max-width: 1200px;
  margin: 20px auto;
  font-family: $font-family;
}

section {
  margin-bottom: 30px;
}

form.main {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  display: block;
  margin-top: 10px;
  color: black;
  font-family: $font-family;
  margin-left: 10px;
  &:first-of-type {
    margin-right: 10px;
  }
}

input[type="number"] {
  @include input-style;
  margin-top: 10px;
}

input[type="search"] {
  @include input-style;
  margin-left: 40%;
  width: 40%;
}

button[type="submit"] {
  @include button;
  background-color: #55C1C2;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: $secondary-color;
  color: #fff;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid $secondary-color;
}

table tr:not(:first-child):hover {
  background-color: #f2f2f2;
}

footer {
  background-color: $primary-color;
  color: #fff;
  padding: 20px;
  font-family: sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;

  .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p {
    margin: 0;
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      margin-left: 20px;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

body.login_page,
.delete_page,
.add_page,
.edit_page{
  background-image: url("../../bubbles.jpg");
}

body.profile {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-image: url("../../img.png");
  font-family: Arial, Helvetica, sans-serif;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin-top: 20px;
      font-size: 18px;

      strong {
        font-weight: bold;
        margin-right: 10px;
      }
    }
  }
}

.login {
  margin: 150px auto;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.add_student,
.edit_student,
.delete_student{
  margin: 150px auto;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: $button-green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: $button-green;
}

input[type="date"],
input[type="number"],
select {
  margin-bottom: 10px;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;

  &:focus {
    outline: none;
    border-color: $button-green;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 10px;

    &.back-button {
      background-color: $button-green;
      color: white;
    }

    &.ok-button {
      background-color: $button-green;
      color: white;
    }

    &.cancel-button {
      background-color: $red-color;
      color: white;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.forgot_password {
  display: flex;
  margin-top: 20px;
}
